[Unit]
Description=Firewall and shaper scripts
Wants=network-online.target
After=network-online.target



[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/firewall.sh start
ExecStop=/etc/firewall.sh stop

[Install]
WantedBy=multi-user.target
